<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>access log</h2>

<table>
  <tr>
    <th>name </th>
    <th>email</th>
    <th>time</th>
  </tr>
  {%for user in users%}
  <tr>
    <td><a href="{{user['picture']}}">{{user['name']}}</td>
    <td>{{user['email']}}</td>
    <td>{{user['date']}}</td>
  </tr>
  {%endfor%}
</table>

</body>
</html>
